# Godot 4+ specific ignores
.godot/
/build/
*.keystore
*.jks

/android/build/build/
/android/build/.gradle/
/android/build/local.properties

/android/build/libs/debug/*.aar
/android/build/libs/release/*.aar
/android/build/libs/dev/*.aar